main {

}

p {
	text-align: center;
}

h1 {
	text-align: center;
}


h2 {
	text-align: center;
}

.js-video-card {
	border: 1px solid black;
	width: 100%;
}

.js-video-card-footer {
	text-align: center;
}

.js-video-card-main-image {
	text-align: center;
}